# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache

# Coverage reports
.coverage
*.cover
*.py,cover
.coverage.*
nosetests.xml
coverage.xml
*.coveragerc

# Ignore videos and images
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg

# Other files to ignore
*.log
*.sqlite3
*.db
*.DS_Store